
  <ul class="post-list">
      <li>
        <h1>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h1>
  <center>
    {% if post.previous.url != nil %}
        <a class="nav prev" href="{{ post.previous.url }}">Previous</a>
        
    {% endif %}
    {% if post.next.url != nil %}
        <a class="nav next" href="{{ post.next.url }}">Next</a>
    {% endif %}
  </center>


        {{ post.content }}
      </li>
  </ul>

  <center>
    {% if post.previous.url != nil %}
        <a class="nav prev" href="{{ post.previous.url }}">Previous</a>
        
    {% endif %}
    {% if post.next.url != nil %}
        <a class="nav next" href="{{ post.next.url }}">Next</a>
    {% endif %}
  </center>

        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
