  <ul class="post-list">
      <li>
        <h1>
          {{ post.title }}
        </h1>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        {{ post.content }}
      </li>
  </ul>

  <center>
    {% if post.previous.url != nil %}
        <a class="nav prev" href="{{ post.previous.url }}">&laquo; Previous</a>
        
    {% endif %}
    {% if post.next.url != nil %}
        <a class="nav next" href="{{ post.next.url }}">Next &raquo;</a>
    {% endif %}
  </center>

